<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">
    <img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">
          Inicio
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/student">
          Estudiantes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" routerLink="/contact">
          Contacto
        </a>
      </li>
    </ul>
  </div>
</nav>