<div class="card container">
  <div class="card-body">
    <h4 class="card-title text-center">Estudiante</h4>
    <hr>
    <div class="form-group">
      <label for="code">Código:</label>
      <input type="text" readonly class="form-control-plaintext" id="code" value="{{student.code}}">
    </div>
    <div class="form-group">
      <label for="name">Nombre:</label>
      <input type="text" readonly class="form-control-plaintext" id="name" value="{{student.name}}">
    </div>
    <div class="form-group">
      <label for="age">Edad:</label>
      <input type="text" readonly class="form-control-plaintext" id="age" value="{{student.age}}">
    </div>
    <div class="form-group">
      <label for="state">Estado:</label>
      <input type="text" readonly class="form-control-plaintext" id="state" value="{{student.state}}">
    </div>
    <div class="row justify-content-center">
      <button type="button" class="btn btn-primary" (click)="showList()">Volver</button>
    </div>
  </div>
</div>
