<main role="main" class="container">
  <div class="jumbotron">
    <h1>Pagina principal</h1>
    <p class="lead">Proyecto ejemplo con routing y navegación</p>
    <a class="btn btn-lg btn-primary" routerLink="/student">Ir a la lista de estudiantes »</a>
  </div>
</main>