<div class="card container">
  <div class="card-body">
    <h4 class="card-title text-center">Estudiante</h4>
    <hr>
    <form>
      <div class="form-group">
        <label for="code">Código</label>
        <input type="text" id="code" class="form-control" [(ngModel)]="student.code" name="code" [readOnly]="!isNew">
      </div>
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" id="name" class="form-control" [(ngModel)]="student.name" name="name">
      </div>
      <div class="form-group">
        <label for="age">Edad</label>
        <input type="text" class="form-control" id="age" [(ngModel)]="student.age" name="age">
      </div>
      <div class="form-group">
        <label for="state">Estado</label>
        <select class="form-control" id="state" [(ngModel)]="student.state" name="state">
          <option selected disabled hidden>Seleccionar un Estado</option>
          <option value="APROBADO">APROBADO</option>
          <option value="DESAPROBADO">DESAPROBADO</option>
        </select>
      </div>
      <div class="row justify-content-center">
        <button type="button" class="btn btn-primary mr-2" (click)="save()">Guardar</button>
        <button type="button" class="btn btn-danger" (click)="showList()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
