<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="error-template">
              <h1>
                  Oops!</h1>
              <h2>
                  404 No encontrado</h2>
              <div class="error-details">
                  Ocurrio un error, página no encontrada.
              </div>
              <div class="error-actions">
                  <a routerLink="/" class="btn btn-primary btn-lg">
                    Ir a inicio
                  </a>
                  <a routerLink="/contact" class="btn btn-default btn-lg">
                    Formulario de contacto
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>