<div class="container mt-5">
  <h2 class="text-center">{{title}}</h2>

  <div class="col-12">
    <form class="form-inline justify-content-center my-4">
      <label for="searchByName">Buscar alumno</label>
      <input type="text" id="searchByName" [(ngModel)]="nameToSearch" name="searchByName" class="form-control col-md-6 mx-sm-3"
        [placeholder]="placeholder">
      <button type="button" class="btn btn-primary mr-2" (click)="searchStudents()" [disabled]="!nameToSearch">
        <i class="fas fa-search"></i>
      </button>
      <button type="button" class="btn btn-info" (click)="clean()">Limpiar</button>
    </form>
  </div>

  <p class="text-center">Alumno a buscar: <strong class="font-italic">{{nameToSearch}}</strong></p>

  <div class="col-12">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Matrícula</th>
          <th>Nombre</th>
          <th>Edad</th>
          <th class="text-center">Estado</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="!students.length" class="table-secondary">
          <td [attr.colspan]="4" class="text-center">No se encontraron resultados</td>
        </tr>
        <tr *ngFor="let student of students">
          <th>{{student.code}}</th>
          <td>{{student.name.toUpperCase()}}</td>
          <td>{{student.age + ' años'}}</td>
          <!-- <td class="text-center" [class]="student.state == 'APROBADO' ? 'table-success' : ''">
            {{student.state}}
          </td> -->
          <!-- <td class="text-center" [class.table-danger]="student.state == 'DESAPROBADO'"
            [class.table-success]="student.state == 'APROBADO'"
            [class.table-secondary]="student.state == 'SUSPENDIDO'">
            {{student.state}}
          </td> -->
          <td class="text-center" [ngClass]="getClass(student.state)">
            {{student.state}}
          </td>
          <td class="text-center">
            <i class="fas fa-search-plus mr-3 text-primary" (click)="showDetail(student)"></i>
            <!-- <i class="fas fa-trash mr-3 text-danger"></i> -->
            <!-- <i class="fas fa-pencil-alt text-success" (click)="showFormEdit(student)"></i> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
